
/* Grid container */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(4, auto);
  gap: 15px;
  padding: 0px;
  margin:0px;
}

/* Images */
.gallery img {
  width: 100%;
  height:120px;
  object-fit: cover; /* keeps images proportional */
  border-radius:5px;
  
}
  
  body {
  margin: 0;
  padding: 20px;
  font-family: "Georgia", serif;
  align-items: center;
  justify-content: center;
  background-color:#7fe0b3;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: #b56b3c;
  font-weight: strong;
  margin-bottom: 20px;
}

/* Back button */
.btn {
  background-color: #000;
  color:white;
  border: none;
  padding: 10px 0px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 20px auto;
  letter-spacing: 2px;
  width: 220px;
  transform: skew(-5deg);
}

.btn:hover {
  opacity: 0.8;
  color:aqua;
}

/* ===== SIMPLE LIGHTBOX WITH X CLOSE ===== */

.gallery a img {
  cursor: pointer;
}

/* Lightbox background */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  flex-direction: column;
}

/* Show lightbox when clicked */
.lightbox:target {
  display: flex;
}

/* Enlarged image */
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Close (X) button */
.lightbox .close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.lightbox .close:hover {
  color: red;
}.lightbox .caption {
  margin-top: 10px;          /* space between image and text */
  color: white;              /* contrast sa dark background */
  font-size: 18px;           /* size ng text */
  text-align: center;        /* naka-center sa ilalim ng image */
  max-width: 90%;            /* hindi lalampas sa screen width */
  word-wrap: break-word;     /* maiwasan lumabas sa screen */
}
