body {
  margin: 0;
  height: 100vh;
  background-color: #7fe0b3; /* mint green */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", serif;
}

/* Center content */


/* Title */
h1 {
  color: #d35c5c; /* red-pink */
  letter-spacing: 3px;
  margin-bottom: 50px;
  font-weight: normal;
  text-align: center;
  padding-top:250px;
  padding-bottom: 0px;
}
h2 {
  text-align: center;
  font-weight: strong;  color: #d35c5c; /* red-pink */
  letter-spacing: 3px;
  
}
.btn {
  background-color: #000;
  color:white;
  border: none;
  padding: 10px 0px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 20px auto;
  letter-spacing: 2px;
  width: 220px;
  transform: skew(-5deg);
}

.btn:hover {
  opacity: 0.8;
  color:aqua;
}

p{
  text-align: justify;
}
